version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      time: "11:00"
    open-pull-requests-limit: 30
    reviewers:
      - tuist/core
    labels:
      - dependencies
      - automerge
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: weekly
      time: "11:00"
    open-pull-requests-limit: 30
    reviewers:
      - tuist/core
    labels:
      - dependencies
      - automerge
